 <div class="modal-overlay"></div>
    
 <div class="form">
        <div class="form-container">
        <div class="form-header">
            <button class="close-button" type="button" aria-label="Close form">×</button>
            <div class="step-indicator"><span class="text-24">2</span>/2</div>
            <h1 class="form-title">Book a Free Consultation</h1>
            <p class="form-subtitle">Tell us a bit about your needs — we'll connect you with a specialist to help.</p>
        </div>


  <div class="form-group ">
    Here is a summary of your booking
    <div class="formFrame">
      <div class="formSummary d-flex justify-between ">
      <p><b>Full Name:</b></p>
     <p>{{allData.name}}</p> 
    </div>
    <div class="formSummary d-flex justify-between ">
      <p><b>Work Email Address:</b></p>
     <p>{{allData.email}}</p> 
    </div>
    <div class="formSummary d-flex justify-between">
      <p><b>Phone Number:</b></p>
     <p>{{allData.phone}}</p> 
    </div>
      <div class="formSummary d-flex justify-between">
      <p><b>Company Name:</b></p>
     <p>{{allData.company}}</p> 
    </div>
      <div class="formSummary d-flex justify-between ">
      <p><b>Industry:</b></p>
     <p>{{allData.industry}}</p> 
    </div>
      <div class="formSummary d-flex justify-between ">
      <p><b>Fleet Size:</b></p>
     <p>{{allData.fleetSize}}</p> 
    </div>
      <div class="formSummary d-flex justify-between ">
      <p><b>Date Selected:</b></p>
     <p>{{allData.date}}</p> 
    </div>
      <div class="formSummary d-flex justify-between ">
      <p><b>Time Selected:</b></p>
     <p>{{allData.time}}</p> 
    </div>
    </div>
  </div>
    <button class="next-button"  type="submit">Next ></button>

    </div>

