<div class="body">
  <div class="container">
    <section class="hero-section">
      <div class="col-xl-6 left">
        <h1 class="text-48">
          Experience Next-Level Fleet Intelligence with Novatrack
        </h1>
        <p class="text-16">
          Novatrack offers an advanced fleet management and IoT web application
          built to transform the way you manage your operations. Our
          cutting-edge platform delivers real-time vehicle tracking, intelligent
          automation, and fully customizable dashboards, empowering you with the
          data-driven insights needed to make faster decisions, reduce
          operational costs, and maximize fleet efficiency. Designed for
          scalability and performance, Novatrack gives you full control and
          visibility across your fleet—helping you optimize routes, monitor
          driver behavior, streamline reporting, and consistently exceed
          customer expectations. Whether you're managing a few vehicles or a
          nationwide fleet, Novatrack is the smarter, faster, and more
          sustainable way to move your business forward.”
        </p>
      </div>
      <div class="col-xl-6 right">
        <div class="service-hero-image">
          <img src="" alt="" srcset="" />
        </div>
      </div>
    </section>

    <section class="services">
      <div class="container services-container">
        <div class="row service-row gps d-flex">
          <div class="col-xl-6 left-col">
            <div class="left-col-content">
              <h2 class="title text-40">Real-Time GPS Tracking</h2>
              <p class="text-16">
                Monitor your vehicles with pinpoint accuracy, regardless of
                location. Our advanced GPS tracking system provides instant
                visibility of your entire fleet,allowing you to:
              </p>
              <ul class="service-list">
                <li class="service-list-item">
                  <span class="text-16"
                    ><img src="img/icons/bullets/1.png" alt="" srcset="" />
                    Track vehicle locations in real-time with live map
                    updates</span
                  >
                </li>
                <li class="service-list-item">
                  <span class="text-16"
                    ><img src="img/icons/bullets/1.png" alt="" srcset="" />
                    Access historical route data for performance analysis</span
                  >
                </li>
                <li class="service-list-item">
                  <span class="text-16"
                    ><img src="img/icons/bullets/1.png" alt="" srcset="" />
                    Monitor vehicle status including ignition, speed, and
                    direction</span
                  >
                </li>
                <li class="service-list-item">
                  <span class="text-16"
                    ><img src="img/icons/bullets/1.png" alt="" srcset="" />
                    Verify job completion and time spent at customer
                    locations</span
                  >
                </li>
              </ul>
              <div class="btn">
                <a href="#" class="button-secondary"> Schedule Demo</a>
              </div>
            </div>
          </div>
          <div class="col-xl-6 right-col">
            <video src="/assets/mp4/1.mp4"></video>

            <img
              src="/img/gif/service/Rectangle 3.mp4"
              class="rounded-16"
              alt=""
              srcset=""
            />
          </div>
        </div>
        <div class="row service-row geofencing d-flex">
          <div class="col-xl-6 left-col">
            <img src="/assets/map-2.png" class="rounded-16" alt="" srcset="" />
          </div>
          <div class="col-xl-6 right-col">
            <h2 class="title text-40">Geofencing & Alerts</h2>
            <p class="text-16">
              Define virtual boundaries and receive instant notifications when
              vehicles enter or exit predefined areas. Our geofencing
              capabilities help you:
            </p>
            <ul class="service-list">
              <li class="service-list-item">
                <span
                  ><img src="img/icons/bullets/1.png" alt="" srcset="" /> Create
                  unlimited custom geofences around key locations</span
                >
              </li>
              <li class="service-list-item">
                <span
                  ><img src="img/icons/bullets/1.png" alt="" srcset="" />
                  Receive alerts for unauthorized zone entries or exits</span
                >
              </li>
              <li class="service-list-item">
                <span
                  ><img src="img/icons/bullets/1.png" alt="" srcset="" />
                  Monitor time spent at customer sites, warehouses, or
                  facilities</span
                >
              </li>
              <li class="service-list-item">
                <span
                  ><img src="img/icons/bullets/1.png" alt="" srcset="" />
                  Identify route deviations and unauthorized stops</span
                >
              </li>
              <li class="service-list-item">
                <span
                  ><img src="img/icons/bullets/1.png" alt="" srcset="" />Set up
                  restricted "no-go" zones with automatic notifications</span
                >
              </li>
            </ul>
            <div class="btn">
              <a href="#" class="button-secondary"> Schedule Demo</a>
            </div>
          </div>
        </div>
        <div class="row service-row fuel-monitoring d-flex">
          <div class="col-xl-6 left-col">
            <h2 class="title">Fuel Monitoring and Cost Optimization</h2>
            <p class="text">
              Gain complete control over fuel expenditure with our advanced
              monitoring solutions that help prevent wastage and detect theft:
            </p>
            <ul class="service-list">
              <li class="service-list-item">
                <img src="img/icons/bullets/1.png" alt="" srcset="" />
                <span> Track fuel consumption patterns across your fleet</span>
              </li>
              <li class="service-list-item">
                <span
                  ><img src="img/icons/bullets/1.png" alt="" srcset="" />
                  Identify excessive idling that wastes fuel</span
                >
              </li>
              <li class="service-list-item">
                <span
                  ><img src="img/icons/bullets/1.png" alt="" srcset="" /> Detect
                  suspicious fuel level changes indicating potential theft</span
                >
              </li>
              <li class="service-list-item">
                <span
                  ><img src="img/icons/bullets/1.png" alt="" srcset="" />
                  Analyze driver behavior impacting fuel efficiency</span
                >
              </li>
              <li class="service-list-item">
                <span
                  ><img src="img/icons/bullets/1.png" alt="" srcset="" />
                  Generate comprehensive fuel usage reports for cost
                  management</span
                >
              </li>
            </ul>
            <div class="btn">
              <a href="#" class="button-secondary"> Schedule Demo</a>
            </div>
          </div>
          <div class="col-xl-6 right-col">
            <img src="/img/gif/service/Rectangle 4.png" alt="" srcset="" />
          </div>
        </div>

        <div class="row service-row route d-flex">
          <div class="col-xl-6 left-col">
            <h2 class="title">Route Optimization & Dispatching</h2>
            <p class="text">
              Maximize efficiency with intelligent routing that reduces miles
              driven while improving service delivery
            </p>
            <ul class="service-list">
              <li class="service-list-item">
                <span
                  ><img src="img/icons/bullets/1.png" alt="" srcset="" />
                  Calculate the most efficient routes between multiple
                  stops</span
                >
              </li>
              <li class="service-list-item">
                <span
                  ><img src="img/icons/bullets/1.png" alt="" srcset="" />
                  Dispatch nearest vehicles to service calls</span
                >
              </li>
              <li class="service-list-item">
                <span
                  ><img src="img/icons/bullets/1.png" alt="" srcset="" />
                  Provide real-time ETA updates to customers
                </span>
              </li>
              <li class="service-list-item">
                <span
                  ><img src="img/icons/bullets/1.png" alt="" srcset="" /> Reduce
                  empty miles and optimize vehicle utilization</span
                >
              </li>
              <li class="service-list-item">
                <span
                  ><img src="img/icons/bullets/1.png" alt="" srcset="" />SAdapt
                  routes in response to traffic conditions and unexpected
                  change</span
                >
              </li>
            </ul>
            <div class="btn">
              <a href="#" class="button-secondary"> Schedule Demo</a>
            </div>
          </div>
          <div class="col-xl-6 right-col">
            <img
              src="/img/gif/service/Frame 1261154973.png"
              class="rounded-16"
              alt=""
              srcset=""
            />
          </div>
        </div>
      </div>
    </section>

    <div class="cards row-1 d-flex">
      <div class="card-container">
        <div class="dashboard-header">
          <h1 class="title text-20 fw-600">
            Driver Behavior and Safety Monitoring
          </h1>
          <p class="description text-16">
            Promote safer driving habits and reduce accident risk across your
            fleet. Detect harsh braking, rapid acceleration, and aggressive
            cornering.
          </p>
        </div>

        <main class="metrics-grid d-flex">
          <div class="metric-card safety-score">
            <img
              src="/assets/services/matrics/monitor/Rectangle 3.png"
              alt=""
              srcset=""
            />
          </div>
          <div class="metric-card speed">
            <img
              src="/assets/services/matrics/monitor/Rectangle 238.png"
              alt=""
              srcset=""
            />
          </div>
          <div class="metric-card brake">
            <img
              src="/assets/services/matrics/monitor/Rectangle 237.png"
              alt=""
              srcset=""
            />
          </div>
        </main>
      </div>
      <div class="card-container">
        <div class="dashboard-header">
          <h1 class="title text-20 fw-600">
            Comprehensive Reporting and Analytics
          </h1>
          <p class="description text-16">
            Transform your fleet data into actionable business intelligence.
            Access customizable dashboards with key performance metrics.
            Generate automated reports on schedule or on-demand
          </p>
        </div>

        <main class="metrics-grid d-flex">
          <img
            src="/assets/services/matrics/analytics/ChatGPT Image Mar 28, 2025, 07_14_02 AM 1.png"
            alt=""
            srcset=""
          />
        </main>
      </div>
      <div class="card-container">
        <div class="dashboard-header">
          <h1 class="title text-20 fw-600">System Integration</h1>
          <p class="description text-16">
            Our solutions seamlessly integrate with your existing business
            systems. ERP system integration at no additional cost. Compatible
            with major business applications
          </p>
        </div>

        <main class="metrics-grid d-flex">
          <img
            src="/assets/services/matrics/integration/ChatGPT Image Mar 28, 2025, 11_24_15 AM 1.png"
            alt=""
            srcset=""
          />
        </main>
      </div>
    </div>
    <div class="cards row-2 d-flex">
      <div class="col-xl-6 card-container card-large">
        <div class="dashboard-header">
          <h1 class="title text-20 fw-600">Customized Solutions</h1>
          <p class="description text-16">
            We understand that every business has unique requirements. Our team
            works closely with you to develop and implement tailored solutions
            that address your specific challenges.
          </p>

          <ul>
            <li class="item">
              Custom reporting formats aligned with your business structure
            </li>
            <li class="item">
              Specialized alert configurations based on your priorities
            </li>

            <li class="item">
              Tailored dashboards for different user roles within your
              organization
            </li>
            <li class="item">
              Industry-specific metrics and KPIs • Scalable implementation based
            </li>
            <li class="item">on your fleet size and growth plans.</li>
          </ul>
        </div>

        <main class="metrics-grid d-flex row-2-metrics">
          <div class="metric-card safety-score">
            <img
              src="/assets/services/matrics/custom/20250327_1445_Custom Business Solutions_simple_compose_01jqbxma12enht4es3tthjrvap 1.png"
              alt=""
              srcset=""
            />
          </div>
          <div class="metric-card d-board">
            <img
              src="/assets/services/matrics/custom/20250327_1445_Custom Business Solutions_simple_compose_01jqbxma12enht4es3tthjrvap 2.png"
              alt=""
              srcset=""
            />
          </div>
        </main>
      </div>
      <div class="col-xl-6 card-container card-large">
        <div class="dashboard-header">
          <h1 class="title text-20 fw-600">Implementation & Support</h1>
          <p class="description text-16">
            Our commitment to your success goes beyond providing technology.
            When you
          </p>

          <p class="list-header">choose NovaTrack, you receive:</p>
          <ul>
            <li class="item">Professional on-site installation</li>
            <li class="item">
              comprehensive training for system administrators and users
            </li>
            <li class="item">24/7 Network Operations Support Center</li>
            <li class="item">Regular software updates and enhancements</li>
            <li class="item">Ongoing maintenance and technical support</li>
            <li class="item">Custom report development as your needs evolve</li>
          </ul>
        </div>

        <main class="metrics-grid d-flex">
          <img
            src="/assets/services/matrics/analytics/ChatGPT Image Mar 28, 2025, 07_14_02 AM 1.png"
            alt=""
            srcset=""
          />
        </main>
      </div>
    </div>
  </div>

  <div class="container-fluid feature-section">
    <div class="container">
      <section class="features">
        <div class="section-title text-center">
          <h2 class="text-40">
            Advanced Features Built for Modern Fleet Management
          </h2>
          <div class="btn">
            <a href="#" class="button-primary"> Request a Consultation</a>
          </div>
        </div>

        <div class="section-content">
          <div class="row feature-cards">
            <div class="col-xl-3 card" *ngFor="let item of advanceTool">
              <div class="card-header">
                <img class="card-icon" src="{{ item.icon }}" alt="" srcset="" />
              </div>
              <div class="card-body">
                <h4 class="text-20">
                  {{ item.title }}
                </h4>
                <p class="text-16">{{ item.text }}</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <section class="footer d-flex footer-gradient">
    <div class="col-xl-3 footer-image-container">
      <img src="/assets/truck-left.png" alt="" srcset="" />
    </div>
    <div class="col-xl-6 footer-text-container text-center">
      <h1 class="text-lg">Ready to Transform Your Fleet Operations?</h1>

      <p class="text-bdy">
        Discover how NovaTrack can deliver similar results for your business.
        Our team of experts will work with you to develop a customized solution
        that addresses your specific challenges and objectives.
      </p>

      <div class="btn">
        <a href="#" class="button-primary"> Request a Consultation</a>
      </div>
    </div>
    <div class="col-xl-3 footer-image-container-right">
      <img src="/assets/truck-right.png" alt="" srcset="" />
    </div>
  </section>
</div>
