
// features
.feature-cards{
      display: flex;
      justify-content: space-around;
      row-gap: 1rem;
      margin-top: 2rem;
}

.features .card{
    background-color: white;
    border-radius: 12px;
    width: 287px;
    margin: 16px 0;
    padding: 16px;
}





// footer
.footer-gradient {
  background: linear-gradient(to top, #daedf6, #f5f5f5);
}

.footer-image-container {
  position: absolute;

  top: 552%;
  width: 80rem;
}

.footer-image-container-right {
  position: absolute;
  width: 80rem;
  top: 552%;
  left: 60%;
}

.footer-text-container {
  margin: 0 auto;
}

.footer {
  padding: 149px 0;
}

.footer .text-bdy {
  margin: 1.5rem auto;
  width: 555px;
}

.footer .btn {
  margin: auto;
}


