.body {
  background-color: #fff;
}
// hero
.hero-section {
  position: relative;
  margin: 0 auto 5rem auto;
  padding-top: 10rem;
      // gap: 16rem;
}


.hero-image-container{
  text-align: end;
}
.hero-image-container .img1{
  position: absolute;
  top: 8rem;
  left: 54rem;
}
.hero-image-container .img2{
  position: absolute;
  top: 7rem;
  left: 40rem;
}
.hero-image-container .img3{
  position: absolute;
  top: 28rem;
  left: 40rem;
  border-radius: 16px;
  box-shadow: 20px 44px 156px -39px grey;
}

.btn {
  margin-top: 1.5rem;
}

.service-row {
  margin: 5rem 0;
}

.hero-right-image{
  justify-content: end;
}

// gps
.gps .right-col video {
  border-radius: 16px;
  width: 572px;
}

// dashboard
.row-1,
.row-2 {
  justify-content: space-between;
  padding: 2rem 0;
}

.card-large {
  width: 592px !important;
  height: auto !important;
}
.card-container {
  position: relative;
  background-color: #f5f5f5;
  width: 389px;
  height: 599px !important;
  border-radius: 24px;
  padding: 24px;
}

.metric-card{
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 50%;
  
}

.dashboard-header .title {
  color: var(--Night-06, #2e2f30);
  // width: 544px;
}

.description {
  color: var(--Night-05, #4f5154);
  // width: 544px !important;
}



.speed {
  top: 50%;
  left: 60%;
}

.brake {
  top: 72%;
  left: 9.5rem;
}

.safety-score {
  // position: absolute;
  top: 39%;
  left: 6%;
}



.matrics-grid {
  position: absolute;
}

.b-dashboard {
  left: 2rem;
}

.d-board {
  top: 22rem;
  left: 15rem;
}


.text-20 {
  font-size: 24px !important;
}

.cards .item {
  color: var(--Night-05, #4f5154);
  list-style-type: disc;
  margin-left: 1rem;
  font-size: 16px;
  line-height: 171.8%;
}

.support-grid {
  width: 100%;
}

.support-image-1 {
  position: absolute;
  top: 20rem;
  left: 2rem;
}

.support-image-2 {
  position: absolute;
  top: 18rem;
  left: 10rem;
  // width: 8rem;
}

.support-image-3 {
  position: absolute;
  top: 20rem;
  left: 59%;
}
// features

.feature-section {
  background-color: #f5f5f5 !important;
}
.features .section-title {
  margin: 2rem 0;
}

.features .section-title h2 {
  width: 650px;
  margin: 0 auto 2rem;
}
.feature-cards {
  display: flex;
  justify-content: space-around;
  row-gap: 1rem;
  margin-top: 2rem;
}

.features .card {
  background-color: white;
  border-radius: 12px;
  width: 287px;
  margin: 16px 0;
  padding: 16px;
}

.service-list-item span {
  // display: flex;
  gap: gap 10rem;
  width: 359px;
}

// Fuel monitoring
.image-barchart {
  position: absolute;
  right: 14%;
  bottom: 3%;
}

// footer
.footer-gradient {
  background: linear-gradient(to top, #daedf6, #f5f5f5);
}

.footer-image-container {
  position: absolute;
  // top: 492%;
  width: 80rem;
  right: 30%;
}

.footer-image-container-right {
  position: absolute;
  width: 80rem;
  // top: 492%;
  text-align: end;
  left: 30%;
}

.footer-text-container {
  background-color: transparent;
  margin: 0 auto;
  z-index: 5;
}

.footer {
  padding: 149px 0;
  position: relative;
}

.footer .text-bdy {
  margin: 1.5rem auto;
  width: 555px;
}

.footer .btn {
  // margin: auto;
  justify-content: center;
  gap: 1rem;
}


// phone, tabs and desktop
@media only screen and (min-width: 275px) and (max-width: 1366px) {


.hero-section{
  flex-direction: column !important;
}

  .cards{
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }

  .card-container{
   width: 100%;
  }

  .card-large{
    width: 100% !important;
  }


  // sub footer

  .footer .btn{
    flex-direction: column;
  }
  .footer-text-container, .text-bdy{
    width: 100% !important; 
    padding: 0 1rem;
  }
}
