<div class="container-fluid home-wrapper">
  <section class="container hero-section">
    <div class="row">
      <div class="col-xl-6">
        <div class="hero-content">
          <h1 class="text-50">
            Revolutionizing Fleet Management and IoT Solutions
          </h1>
          <p class="text-16">
            Real-time visibility, unmatched efficiency, transformative business
            intelligence.
          </p>
          <div class="btn">
            <a href="#" class="button-primary"> Request a Consultation</a>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="hero-bg">
          <!-- <img src="/img/background/hero/4b710bb738de5edb7ea6dcd8055f88a3fe2b88e7.jpg" alt="" srcset=""> -->
        </div>
      </div>
    </div>
  </section>
</div>
<!-- overview section -->
<section class="overview-section">
  <div class="container overview-container">
    <div class="section-title text-center">
      <h3 class="text-30">
        Innovative Fleet Management <br> Driving Measurable Success at Every Mile
      </h3>
    </div>
    <div class=" text-center ">
      <p class="text-14 pb-3">
        NovaTrack Limited was founded in 2005 with a singular vision: to
        transform how businesses manage their fleets through innovative
        technology solutions. Headquartered in Lagos, Nigeria, we've grown to
        become a leading provider of fleet management and IoT solutions across
        the region.
      </p>
      <div class="btn">
        <a href="#" class="button-primary"> Request a Consultation</a>
      </div>
    </div>
  </div>
</section>



<!-- Trusted businesses -->
<section class="businesses py-40">
  <div class="container text-center">
    <div class="section-title">
      <h2 class="title">Top Businesses</h2>
    </div>
    <div class="top-businesses d-flex justify-content-around">
      <div class="col-xl-2 business business-1">
        <img src="/img/top-businesses/Page-1.png" alt="" srcset="" />
      </div>
      <div class="col-xl-2 business">
        <img src=" /img/top-businesses/Leventis Motors.png" alt="" srcset="" />
      </div>
      <div class="col-xl-2 business">
        <img
          src="/img/top-businesses/nigerian-breweries-logo.png"
          alt=""
          srcset=""
        />
      </div>
      <div class="col-xl-2 business">
        <img src="/img/top-businesses/crown-cfrm-logo 1.png" alt="" srcset="" />
      </div>
      <div class="col-xl-2 business">
        <img src="/img/top-businesses/NBC 1.png" alt="" srcset="" />
      </div>
    </div>
  </div>
</section>

<!-- CTA -->
<section class="cta">
  <div class="container cta-container">
    <div class="row cta-cards">
      <div class="col-4 cta-card">
        <div class="icon">
          <img src="/img/icons/4.png" alt="" srcset="" />
        </div>
        <div class="title"><h2>Partner with us</h2></div>
        <div class="text">Discover a rewarding Path with us.</div>
      </div>
      <div class="col-4 cta-card">
        <div class="icon">
          <img src="/img/icons/5.png" alt="" srcset="" />
        </div>
        <div class="title"><h2>Your Dashboard</h2></div>
        <div class="text">Access powerful dashboards and insights.</div>
      </div>
      <div class="col-4 cta-card">
        <div class="icon">
          <img src="/img/icons/6.png" alt="" srcset="" />
        </div>
        <div class="title"><h2>Support</h2></div>
        <div class="text">Get quick help when needed.</div>
      </div>
    </div>
  </div>
</section>

<!-- services section -->
<section class="services">
  <div class="container services-container">
    <div class="section-title-container text-center">
      <h2 class="section-title">Our Services</h2>
    </div>

    <div class="row real-time d-flex">
      <div class="col-xl-6 left-col">
        <div class="left-col-content">
          <h2 class="title">Real-Time GPS Tracking</h2>
          <p class="text">
            Monitor your vehicles with pinpoint accuracy, regardless of
            location. Our advanced GPS tracking system provides instant
            visibility of your entire fleet,allowing you to:
          </p>
          <ul class="service-list">
            <li class="service-list-item">
              <span
                ><img src="img/icons/bullets/1.png" alt="" srcset="" /> Track
                vehicle locations in real-time with live map updates</span
              >
            </li>
            <li class="service-list-item">
              <span
                ><img src="img/icons/bullets/1.png" alt="" srcset="" /> Access
                historical route data for performance analysis</span
              >
            </li>
            <li class="service-list-item">
              <span
                ><img src="img/icons/bullets/1.png" alt="" srcset="" /> Monitor
                vehicle status including ignition, speed, and direction</span
              >
            </li>
            <li class="service-list-item">
              <span
                ><img src="img/icons/bullets/1.png" alt="" srcset="" /> Verify
                job completion and time spent at customer locations</span
              >
            </li>
          </ul>
          <div class="btn">
            <a href="#" class="hero-btn"> Book a Consultation</a>
          </div>
        </div>
      </div>
      <div class="col-xl-6 right-col justify-end">
        <img
          src="/img/gif/service/Group 5563.png"
          class="service-map rounded-16"
          alt=""
          srcset=""
        />
        <img
          src="/img/gif/service/Rectangle 3.mp4"
          class="rounded-16"
          alt=""
          srcset=""
        />
      </div>
    </div>
    <div class="row geofencing d-flex">
      <div class="col-xl-6 left-col">
        <img
          src="/img/gif/service/Frame 1261154973.png"
          class="rounded-16"
          alt=""
          srcset=""
        />
      </div>
      <div class="col-xl-6 right-col">
        <h2 class="title">Geofencing & Alerts</h2>
        <p class="text">
          Define virtual boundaries and receive instant notifications when
          vehicles enter or exit predefined areas. Our geofencing capabilities
          help you:
        </p>
        <ul class="service-list">
          <li class="service-list-item">
            <span
              ><img src="img/icons/bullets/1.png" alt="" srcset="" /> Create
              unlimited custom geofences around key locations</span
            >
          </li>
          <li class="service-list-item">
            <span
              ><img src="img/icons/bullets/1.png" alt="" srcset="" /> Receive
              alerts for unauthorized zone entries or exits</span
            >
          </li>
          <li class="service-list-item">
            <span
              ><img src="img/icons/bullets/1.png" alt="" srcset="" /> Monitor
              time spent at customer sites, warehouses, or facilities</span
            >
          </li>
          <li class="service-list-item">
            <span
              ><img src="img/icons/bullets/1.png" alt="" srcset="" /> Identify
              route deviations and unauthorized stops</span
            >
          </li>
          <li class="service-list-item">
            <span
              ><img src="img/icons/bullets/1.png" alt="" srcset="" />Set up
              restricted "no-go" zones with automatic notifications</span
            >
          </li>
        </ul>
        <div class="btn">
          <a href="#" class="hero-btn"> Book a Consultation</a>
        </div>
      </div>
    </div>
    <div class="row fuel-monitoring d-flex">
      <div class="col-xl-6 left-col">
        <h2 class="title">Fuel Monitoring and Cost Optimization</h2>
        <p class="text">
          Gain complete control over fuel expenditure with our advanced
          monitoring solutions that help prevent wastage and detect theft:
        </p>
        <ul class="service-list">
          <li class="service-list-item">
            <span
              ><img src="img/icons/bullets/1.png" alt="" srcset="" /> Track fuel
              consumption patterns across your fleet</span
            >
          </li>
          <li class="service-list-item">
            <span
              ><img src="img/icons/bullets/1.png" alt="" srcset="" /> Identify
              excessive idling that wastes fuel</span
            >
          </li>
          <li class="service-list-item">
            <span
              ><img src="img/icons/bullets/1.png" alt="" srcset="" /> Detect
              suspicious fuel level changes indicating potential theft</span
            >
          </li>
          <li class="service-list-item">
            <span
              ><img src="img/icons/bullets/1.png" alt="" srcset="" /> Analyze
              driver behavior impacting fuel efficiency</span
            >
          </li>
          <li class="service-list-item">
            <span
              ><img src="img/icons/bullets/1.png" alt="" srcset="" /> Generate
              comprehensive fuel usage reports for cost management</span
            >
          </li>
        </ul>
        <div class="btn">
          <a href="#" class="hero-btn"> Book a Consultation</a>
        </div>
      </div>
      <div class="col-xl-6 right-col">
        <img src="/img/gif/service/Rectangle 4.png" alt="" srcset="">
      </div>
    </div>
    <div class="row system-integration">
      <div class=" col-xl-6 left-col">
        <div class=" col-xl-12 integration-card integration-card-1 rounded-16">
          <div class="card-content">
            <div class="card-title">
              <h2>System Integration</h2>
            </div>
            <p class="text">
              Our solutions seamlessly integrate with your existing business
              systems:
            </p>

                          <a href="#" class="">Book a Consultation > </a>

            <div class="card-image">
              <img src="/img/gif/service/Rectangle 6.png" alt="" srcset="" />
            </div>
          </div>
        </div> 
        <div class=" col-xl-12 integration-card integration-card-2 rounded-16">
          <div class="card-content">
            <p class="text">
              At NovaTrack, we deliver comprehensive fleet management and IoT
              solutions designed to optimize your operations, enhance
              productivity, and drive business growth. Our technology platform
              provides real-time insights, automated reporting, and customizable
              dashboards tailored to your specific business needs.
            </p>

            <div class="btn">
                          <a href="#" class="hero-btn inverse" >See all Services > </a>
            </div>

          </div>
        </div>
      </div>
      <div class=" col-xl-6 right-col">
        <div class=" integration-card integration-card-3 rounded-16">
          <div class="card-title">
            <h2>Comprehensive Reporting and Analytics</h2>
          </div>
          <p class="text">
            Transform your fleet data into actionable business intelligence
          </p>

          <a href="#" class="">Book a Consultation</a>
          <div class="card-image">
            <img src="/img/gif/service/Rectangle 5.png" alt="" srcset="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ------ Expertise section --------- -->

<section class="expertise ">
  <div class="container expertise-container ">
    <div class="section-title text-center">
      <h2 class="title">Our Expertise at a glance </h2>
    </div>
    <div class="row cards justify-content-between">
      <div class="col-xl-4 card expertise-card">
        <div class="card-image">
          <img src="/img/gif/enterprise/Group 5565.png" alt="" srcset="">
        </div>
        <div class="card-title">
          <h2 class="title">Fleet Management Solution</h2>
        </div>

        <div class="card-text">
          <p class="text">
            Experience real-time GPS tracking, comprehensive fuel management, proactive maintenance scheduling, and robust driver and shipment management for operational excellence
          </p>
        </div>
      </div>
      <div class="col-xl-4 card expertise-card">
        <div class="card-image">
          <img src="/img/gif/enterprise/Group 5566.png" alt="" srcset="">
        </div>
        <div class="card-title">
          <h2 class="title">IoT Solutions</h2>
        </div>

        <div class="card-text">
          <p class="text">
Transform your logistics and transport operations with smart IoT devices designed for optimization, security, and efficiency.
          </p>
        </div>
      </div>
      <div class="col-xl-4 card expertise-card">
        <div class="card-image">
          <img src="/img/gif/enterprise/Pie.png" alt="" srcset="">
        </div>
        <div class="card-title">
          <h2 class="title">Reporting & Analytics</h2>
        </div>

        <div class="card-text">
          <p class="text">
           Leverage customizable dashboards, automated alerts, and actionable insights to drive strategic decision-making.
          </p>
        </div>
      </div>
    </div>
        <div class="btn experience-btn">
      <a href="#" class="hero-btn"> Explore our services</a>
    </div>
  </div>
</section>

<!-- innovative fleet management -->
<section class="fleet-management-section">
  <div class="container">
    <div class="section-title text-center">
      <h2 class="title text-white">
        Innovative Fleet management for various type of companies
      </h2>
    </div>
    <div class="section-body management-cards d-flex gx-">
      <div class="card management-card card-1">
        <div class="card-icon">
          <img src="/img/icons/Group.png" alt="" srcset="" />
        </div>
        <div class="card-title">
          <h2 class="title">Logistics & Distribution</h2>
        </div>
        <ul class="card-lists">
          <li>3PL Providers</li>
          <li>Courier Services</li>
          <li>Last-Mile Delivery</li>
          <li>Freight Forwarders</li>
          <li>Warehousing & Distribution</li>
        </ul>
      </div>
      <div class="card management-card card-2">
        <div class="card-icon">
          <img src="/img/icons/Group.png" alt="" srcset="" />
        </div>
        <div class="card-title">
          <h2 class="title">Manufacturing</h2>
        </div>
        <ul class="card-lists">
          <li>FMCG Manufacturers</li>
          <li>Industrial Equipment</li>
          <li>Automotive Parts</li>
          <li>Electronics Producers</li>
          <li>Food & Beverage</li>
          <li>Textile & Apparel</li>
        </ul>
      </div>
      <div class="card management-card card-3">
        <div class="card-icon">
          <img src="/img/icons/Group.png" alt="" srcset="" />
        </div>
        <div class="card-title">
          <h2 class="title">Construction & Heavy Industry</h2>
        </div>
        <ul class="card-lists">
          <li>Construction Firms</li>
          <li>Mining Operations</li>
          <li>Infrastructure Developers</li>
          <li>Equipment Rentals</li>
          <li>Civil Contractors</li>
          <li>Road Builders</li>
        </ul>
      </div>
      <div class="card management-card card-1">
        <div class="card-icon">
          <img src="/img/icons/Group.png" alt="" srcset="" />
        </div>
        <div class="card-title">
          <h2 class="title">Healthcare & Pharmaceuticals</h2>
        </div>
        <ul class="card-lists">
          <li>Pharma Distributors</li>
          <li>Medical Suppliers</li>
          <li>Hospital Networks</li>
          <li>Healthcare Logistics</li>
          <li>Medical Equipment</li>
        </ul>
      </div>
      <!-- <div class="card">
          <div class="card-icon">
            <img src="/img/icons/Group.png" alt="" srcset="" />
          </div>
          <div class="card-title">
            <h2 class="title">Retail & E-commerce</h2>
          </div>
          <ul class="card-lists">
            <li>Retail Fleets</li>
            <li>E-commerce Platforms</li>
            <li>Grocery Delivery</li>
            <li>Home Goods Retailers</li>
          </ul>
        </div>
        <div class="card">
          <div class="card-icon">
            <img src="/img/icons/Group.png" alt="" srcset="" />
          </div>
          <div class="card-title">
            <h2 class="title">Agriculture & Food Services</h2>
          </div>
          <ul class="card-lists">
            <li>Agricultural Producers</li>
            <li>Food Processors</li>
            <li>Farm-to-Table Suppliers</li>
            <li>Cold Chain Logistics</li>
          </ul>
        </div>
        <div class="card">
          <div class="card-icon">
            <img src="/img/icons/Group.png" alt="" srcset="" />
          </div>
          <div class="card-title">
            <h2 class="title">Financial & Professional Services</h2>
          </div>
          <ul class="card-lists">
            <li>Cash Transit (Banks)</li>
            <li>Insurance Adjusters</li>
            <li>Field Auditors</li>
          </ul>
        </div> -->
    </div>
  </div>
</section>



<!-- experience -->
<section class="experience text-center pt-3 pb-3 d-flex">
  <div class="shape-container">
      <img src="/img/experience-novatrack/Shape-1.png" class="Shape-1" alt="">
  </div>

  <div class="container">
    <div class="section-title">
      <h2 class="title">Experience the NovaTrack Difference</h2>
    </div>
    <div class="section-body cards d-flex text-left justify-content-around">
      <div class="card">
        <div class="icon">
          <img src="/img/icons/1.png" alt="" srcset="" />
        </div>
        <h2 class="title">Proprietary Technology</h2>
        <p class="card-text">
          Our cutting-edge platform delivers real-time insights, automated
          reporting, and customizable dashboards that keep you ahead of the
          competition.
        </p>
      </div>
      <div class="card">
        <div class="icon">
          <img src="/img/icons/2.png" alt="" srcset="" />
        </div>
        <h2 class="title">Industry Expertise</h2>
        <p class="card-text">
          With years of experience in fleet management and IoT solutions, our
          team crafts tailored strategies that address your unique operational
          needs.
        </p>
      </div>
      <div class="card">
        <div class="icon">
          <img src="/img/icons/1.png" alt="" srcset="" />
        </div>
        <h2 class="title">Customer-Centric Approach</h2>
        <p class="card-text">
          We prioritize your success by offering dedicated support, innovative
          solutions, and a commitment to exceeding expectations at every
          touchpoint.
        </p>
      </div>
    </div>
    <div class="btn experience-btn">
      <a href="#" class="hero-btn"> Request a Consultation</a>
    </div>
    <div class="section-footer"></div>
  </div>

    <div class="shape-container-2">
      <img src="/img/experience-novatrack/Shape.png" class="Shape-1" alt="">
  </div>
</section>



