.home-wrapper {
  background: 
    linear-gradient(to right, rgb(255, 255, 255),  rgba(255, 255, 255, 0.945),  rgba(255, 255, 255, 0.829), rgba(255, 255, 255, 0)), /* white gradient */
    url('/img/background/hero/4b710bb738de5edb7ea6dcd8055f88a3fe2b88e7.jpg'); /* background image */
  background-size: cover;
  background-position: center;
}
.hero-section {
  padding: 10rem 0;
  background-position: cover;
}
.hero-content {
  max-width: 552px;
}


// .hero-title {
//   font-weight: 600px;
// }

// .hero-text {
//   font-size: 16px;
//   width: 497px;
// }

// .btn{
//   margin: 2rem 0;
// }

// .hero-btn {
//   background-color: #055a9d;
//   color: white;
//   border-radius: 40px;
//   padding: 9px 32px;
// }





// +++++++++++++ section +++++++++++++++++

.section-title .title{
  padding: 2rem 0;
}



// ++++++++++ overview +++++++++++++++
 .overview-section{
  background: url(/img/background/hero/Rectangle\ \(Traced\).png);
  padding: 3rem 0;
}

.overview-container{
  width: 756px;
}

.overview-container.section-title{
  width: 626px;
  font-size: 32px;
}
.company-overview{
  max-width: 732px;
}



// ++++++++++++ trusted businesses ++++++++++++++++++

.businesses{
  background-color: rgba(240, 239, 239, 0.87);
  padding: 6rem 0;
}

.business{
  border-left: 1px solid rgba(128, 128, 128, 0.281);
}

.business-1{
  border-left: 0 !important;
}


// ++++++++++++ CTA ++++++++++++++++++

.cta{
  width: 1440px;
margin: 5rem auto;

}


.cta-cards{
  justify-content: space-evenly;
}
.cta-card{
  width: 360px;
  height: 180px;
  border: .5px solid rgba(128, 128, 128, 0.356);
  border-radius: 25px;
  text-align: center;
  padding: 24px;
  gap: 3px;
}






// ++++++++++ our services +++++++++++++++

.services{
  background-color: rgba(223, 222, 222, 0.507);
  padding: 5rem 0;
}
.service-list-item{
  gap: 2rem;
}



.left-col-content{
  max-width: 490px;
}

li{
   max-width: 380px;
}

.tmw{
   max-width: 435px;
}

.position1{
  position: relative;
}

.position2{
  position: relative;
}

.position3{
  position: relative;
}

// +++++++ real-time +++++++++
.real-time{
  padding: 5rem 0;
}

.video{
  width: 572px;
  height: 471px;
  overflow: hidden;
}

.service-map{
  position: absolute;
  top: 55%;
  right: 60%
}

//Fuel Monitoring and Cost Optimization 
.image-barchart2{
  position: absolute;
  right: 13%;
  bottom: 8%;
}

.image-barchart3{
  position: absolute;
  right: 3%;
  bottom: 4%;
}

.pt-15{
  padding-top: 15px;
}

.text-night-1{
  color: var(--night-01)
}

.text-night-4{
  color: var(--night-04)
}

.text-blue-6{
  color: var(--nova-cloudy-06)
}

.text-white{
  color: white;
}


.management-cards li{
  list-style: disc;
  margin-left: 20px;
}


.d-flex{
  flex-wrap: wrap;
  justify-content: center;
}

// ++++++ geofencing ++++++++
.geofencing{
  padding: 10rem 0;
}

// ++++++ integration-card-1 ++++++++++++++

.system-integration{
  margin: 5rem 0;
  padding: 4rem 0;
}

.integration-card{
  margin: 2rem 0;
  padding: 2rem;
}
.integration-card-1{
  background-color: rgba(214, 214, 214, 0.596);
}

.integration-card-2{
  background-color: #047395;
}

.integration-card-3{
  background-color: #CDEEF9;
}
.integration-card-1 .card-content .text{
  font-size: 20px;
}

.integration-card-2 .card-content .text{
  color: white;
  font-size: 20px;
  font-weight: 400;
}

.integration-card-3 .card-image{
  margin-top: 5rem;
}

.services .btn{
  margin: 1rem 0 !important;
}

.btn .integration{
  background-color: rgba(255, 255, 255, 0.144);
  color: #047395;
  
}

.btn .inverse{
  background-color: white;
  color: #047395;
}


.expertise{
  padding: 5rem 0;
}

.expertise-card{
  background-color: rgba(92, 92, 92, 0.055) !important;

}


// +++++++++++++++ innovative fleet management section 2 ++++++++++
.fleet-management-section {
  background-color:#080516;
  padding: 5rem 0;
}

.management-cards {
  gap: 10px;
}

.management-card {
  height: fit-content !important;
}

.card-1 {
  background: linear-gradient(125deg, #0e0925, #35228b, );
}

.card-2 {
  background: linear-gradient(125deg, #047395, #0e0925, );
}

.card-3 {
  background: linear-gradient(125deg, #344216, #0e0925, );
}

.card-1 .card-title .title,
.card-2 .card-title .title,
.card-3 .card-title .title,
.card-4 .card-title .title {
  color: white;
}

.card-1 .card-lists,
.card-2 .card-lists,
.card-3 .card-lists,
.card-4 .card-lists {
  color: #cfe0ec99;
}


// ++++++++++++ expereince section ++++++++++

.experience {
  padding: 5rem 0;
}
.cards {
  padding: 2rem 0;
}
.card {
  background-color: white;
  width: 389px;
  top: 154px;
  left: 120px;
  border-radius: 12px;
  border-width: 1px;
  padding: 16px;
}

.card.management-card {
  background-color: white;
  width: 300px;
  top: 154px;
  left: 120px;
  border-radius: 12px;
  border-width: 1px;
  padding: 16px;
}


.experience-btn {
  text-align: center;
  gap: 1rem;
}


.shape-container{
    position: absolute;
    top: 487rem;
    left: -1rem;
}

.shape-container-2{
    position: absolute;
    right: 0%;
    z-index: -1;
}


.shape-1{
  width: 400px;
  
}

.text-md{
  font-size: 25px !important;
}


.mt-30{
  margin-top: 30px;
}
.mb-30{
  margin-bottom: 30px;
}

//Service


//image section 
.rich-experience{
  width: 100%;
  background: #080516;
}



//Features 
.position4{
  position: relative;
}

.text-relative1{
  position: absolute;
  top: 22%;
  left: 35%;
}


.btn-relative1{
    position: absolute;
  top: 30%;
  left: 42%;
}





//Slider

.swiper {
  width: 100%;
  padding: 2rem 0;
}

.swiper-slide {
  width: 100px; /* You can vary widths here */
  height: 250px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  margin: 0 10px;
  padding: 0 10px;
  font-size: var(--text-md);
  text-align: center;
}

/* Different styles */
.slide-1 {
  color: #16154e;
    background: url('/assets/home/Frame1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f0f5f9;
}

.slide-2 {
    background: url('/assets/home/Frame2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #054b83;
}

.slide-3 {
  background: #210056;
    background-image: url('/assets/home/Frame3.png');
  background-position: center;
  background-repeat: repeat;
}

.slide-4 {

    background: url('/assets/home/Frame4.png');
  background-color: #edf3f7;
  background-position: center;
  background-repeat: no-repeat;
  color: #018abe;
}

.slide-5 {
    background: url('/assets/home/Frame5.png');
  background-color: #16154e;
  background-position:center;
  background-repeat: no-repeat;
}

// phone
@media (max-width: 575px) {
  .overview-container, .cta-container {
    width: 100% !important;
  }

  .cta{
    width: 100%;
    justify-content: space-around;
  }

  .cta-cards{
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: auto;
  }

  .shape{
    display: none;
  }

  .left-col{
    padding: 5rem 0;
  }

  .video{
    width: 100%;
  }

  video{
    width: 100%;
    justify-content: space-around;
  }

  .service-map{
    top: 4rem;
    left: 2rem;
    width: 150px;
  }

  .right-col{
    width: 100;
  }
}


// tablets

// @media (min-width: 768px) and (max-width: 1024px) {
//   .overview-container, .cta-container {
//     width: 100% !important;
//   }

//   .cta{
//     width: 100%;
//     justify-content: space-around;
//   }

//   .cta-cards{
//     display: flex;
//     justify-content: center;
//     gap: 2rem;
//     width: auto;
//   }

// }