<div class="container-fluid home-wrapper">
  <section class="container hero-section">
    <div class="row sm\:w-full">
      <div class="col-xl-6">
        <div class="hero-content">
          <h1 class="text-50">
            Revolutionizing Fleet Management and IoT Solutions
          </h1>
          <p class="text-16">
            Real-time visibility, unmatched efficiency, transformative business
            intelligence.
          </p>
          <div class="btn">
            <a routerLink="form" class="button-primary">
              Request a Consultation</a
            >
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="hero-bg">
          <!-- <img src="/img/background/hero/4b710bb738de5edb7ea6dcd8055f88a3fe2b88e7.jpg" alt="" srcset=""> -->
        </div>
      </div>
    </div>
  </section>
</div>
<!-- overview section -->
<section class="overview-section sm\:w-full">
  <div class="container overview-container">
    <div class="section-title text-center">
      <h3 class="text-30">
        Innovative Fleet Management <br />
        Driving Measurable Success at Every Mile
      </h3>
    </div>
    <div class="text-center">
      <p class="text-14 pb-3">
        NovaTrack Limited was founded in 2005 with a singular vision: to
        transform how businesses manage their fleets through innovative
        technology solutions. Headquartered in Lagos, Nigeria, we've grown to
        become a leading provider of fleet management and IoT solutions across
        the region.
      </p>
      <div class="btn">
        <a routerLink="form" class="button-primary"> Request a Consultation</a>
      </div>
    </div>
  </div>
</section>

<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide slide-1">
      15+ <br />
      Years of <br />
      Innovation
    </div>
    <div class="swiper-slide slide-2">
      1B+ <br />
      Kilometers <br />
      Covered <br />
      Annually
    </div>
    <div class="swiper-slide slide-3">
      200k+ <br />Accidents <br />Prevented<br />
      Annually
    </div>
    <div class="swiper-slide slide-4">
      40% <br />
      Reduction in <br />
      Fuel and <br />
      diesel Usage
    </div>
    <div class="swiper-slide slide-5">
      44k+ <br />
      Tracked <br />
      Assets Last <br />
      Year
    </div>
  </div>
</div>

<!-- Trusted businesses -->
<section class="businesses py-40">
  <div class="container text-center">
    <div class="section-title">
      <h2 class="title">Top Businesses</h2>
    </div>
    <div class="top-businesses d-flex justify-content-around">
      <img src="/img/topb.png" alt="" srcset="" />
      <!-- <div class="col-xl-2 business business-1">
        <img src="/img/top-businesses/Page-1.png" alt="" srcset="" />
      </div>
      <div class="col-xl-2 business">
        <img src=" /img/top-businesses/Leventis Motors.png" alt="" srcset="" />
      </div>
      <div class="col-xl-2 business">
        <img
          src="/img/top-businesses/Budget.png"
          alt=""
          srcset=""
        />
      </div>
      <div class="col-xl-2 business">
        <img src="/img/top-businesses/Repton.png" alt="" srcset="" />
      </div>
      <div class="col-xl-2 business">
        <img src="/img/top-businesses/NBC 1.png" alt="" srcset="" />
      </div> -->
    </div>
  </div>
</section>

<!-- CTA -->
<section class="cta">
  <div class="container cta-container">
    <div class="row cta-cards">
      <div class="col-4 cta-card">
        <div class="icon">
          <img src="/img/icons/4.png" alt="" srcset="" />
        </div>
        <div class="title"><h2>Partner with us</h2></div>
        <div class="text">Discover a rewarding Path with us.</div>
      </div>
      <div class="col-4 cta-card">
        <div class="icon">
          <img src="/img/icons/5.png" alt="" srcset="" />
        </div>
        <div class="title"><h2>Your Dashboard</h2></div>
        <div class="text">Access powerful dashboards and insights.</div>
      </div>
      <div class="col-4 cta-card">
        <div class="icon">
          <img src="/img/icons/6.png" alt="" srcset="" />
        </div>
        <div class="title"><h2>Support</h2></div>
        <div class="text">Get quick help when needed.</div>
      </div>
    </div>
  </div>
</section>

<!-- services section -->
<section class="services">
  <div class="container services-container">
    <div class="section-title-container text-center">
      <h2 class="text-40">Our Services</h2>
    </div>

    <div class="real-time d-flex">
      <div class="col-xl-6 left-col">
        <div class="left-col-content lh-2">
          <h2 class="text-30">Real-Time GPS Tracking</h2>
          <p class="text-16">
            Monitor your vehicles with pinpoint accuracy, regardless of
            location. Our advanced GPS tracking system provides instant
            visibility of your entire fleet,allowing you to:
          </p>
          <ul class="service-list col-xl-12">
            <li class="service-list-item">
              <img src="img/icons/bullets/1.png" alt="" srcset="" />
              <p>Track vehicle locations in real-time with live map updates</p>
            </li>
            <li class="service-list-item">
              <img src="img/icons/bullets/1.png" alt="" srcset="" />

              <p>Access historical route data for performance analysis</p>
            </li>
            <li class="service-list-item">
              <img src="img/icons/bullets/1.png" alt="" srcset="" />
              <p>
                Monitor vehicle status including ignition, speed, and direction
              </p>
            </li>
            <li class="service-list-item">
              <img src="img/icons/bullets/1.png" alt="" srcset="" />
              <p>Verify job completion and time spent at customer locations</p>
            </li>
          </ul>
          <div class="btn">
            <a routerLink="form" class="button-primary"> Book a Consultation</a>
          </div>
        </div>
      </div>
      <div class="col-xl-6 right-col justify-end position1">
        <img
          width="300"
          height="300"
          src="assets/map.png"
          class="service-map rounded-16"
          alt=""
          srcset=""
        />
        <div class="video rounded-16">
          <video autoplay>
            <source src="assets/mp4/1.mp4" type="video/mp4" />
          </video>
        </div>
      </div>
    </div>

    <div class="row geofencing d-flex">
      <div class="col-xl-6 left-col">
        <img
          src="/img/gif/service/Frame 1261154973.png"
          class="rounded-16"
          alt=""
          srcset=""
        />
      </div>
      <div class="col-xl-6 right-col">
        <div class="right-col-content lh-2">
          <h2 class="text-30">Geofencing & Alerts</h2>
          <p class="text-16">
            Define virtual boundaries and receive instant notifications when
            vehicles enter or exit predefined areas. Our geofencing capabilities
            help you:
          </p>

          <ul class="service-list col-xl-12">
            <li class="service-list-item">
              <img src="img/icons/bullets/1.png" alt="" srcset="" />
              <p>Create unlimited custom geofences around key locations</p>
            </li>
            <li class="service-list-item">
              <img src="img/icons/bullets/1.png" alt="" srcset="" />

              <p>Receive alerts for unauthorized zone entries or exits</p>
            </li>
            <li class="service-list-item">
              <img src="img/icons/bullets/1.png" alt="" srcset="" />
              <p>
                Monitor vehicle status including ignition, speed, and directio
              </p>
            </li>
            <li class="service-list-item">
              <img src="img/icons/bullets/1.png" alt="" srcset="" />
              <p>Identify route deviations and unauthorized stops</p>
            </li>
            <li class="service-list-item">
              <img src="img/icons/bullets/1.png" alt="" srcset="" />
              <p>
                Set up restricted "no-go" zones with automatic notifications
              </p>
            </li>
          </ul>

          <div class="btn">
            <a href="#" class="button-primary">Learn more > </a>
          </div>
        </div>
      </div>
    </div>

    <!--Section 7-->
    <div class="row fuel-monitoring d-flex">
      <div class="col-xl-6 left-col">
        <h2 class="text-40">Fuel Monitoring and Cost Optimization</h2>
        <p class="text">
          Gain complete control over fuel expenditure with our advanced
          monitoring solutions that help prevent wastage and detect theft:
        </p>

        <ul class="service-list col-xl-12">
          <li class="service-list-item">
            <img src="img/icons/bullets/1.png" alt="" srcset="" />
            <p>Track fuel consumption patterns across your fleet</p>
          </li>
          <li class="service-list-item">
            <img src="img/icons/bullets/1.png" alt="" srcset="" />

            <p>Identify excessive idling that wastes fuel</p>
          </li>
          <li class="service-list-item">
            <img src="img/icons/bullets/1.png" alt="" srcset="" />
            <p>
              Detect suspicious fuel level changes indicating potential theft
            </p>
          </li>
          <li class="service-list-item">
            <img src="img/icons/bullets/1.png" alt="" srcset="" />
            <p>Analyze driver behavior impacting fuel efficiency</p>
          </li>
          <li class="service-list-item">
            <img src="img/icons/bullets/1.png" alt="" srcset="" />
            <p>Generate comprehensive fuel usage reports for cost management</p>
          </li>
        </ul>

        <div class="btn">
          <a href="#" class="button-primary">Learn more > </a>
        </div>
      </div>
      <div class="col-xl-6 right-col position2">
        <img src="/img/gif/service/Rectangle 4.png" alt="" srcset="" />
        <img src="assets/barchart.png" class="image-barchart2" alt="" />
      </div>
    </div>

    <!--Section 8-->
    <div class="row system-integration">
      <div class="col-xl-6 left-col">
        <div class="col-xl-12 integration-card integration-card-1 rounded-16">
          <div class="card-content">
            <div class="card-title">
              <h2 class="text-50">System Integration</h2>
            </div>
            <p class="text-16 tmw text-night-4">
              Our solutions seamlessly integrate with your existing business
              systems:
            </p>
            <a routerLink="form" class="text-blue-6 text-16"
              ><b>Book a Consultation ></b>
            </a>

            <div class="card-image pt-10">
              <img src="/img/gif/service/Rectangle 6.png" alt="" srcset="" />
            </div>
          </div>
        </div>
        <div class="col-xl-12 integration-card integration-card-2 rounded-16">
          <div class="card-content">
            <p class="text-16 text-white tmw">
              At NovaTrack, we deliver comprehensive fleet management and IoT
              solutions designed to optimize your operations, enhance
              productivity, and drive business growth. Our technology platform
              provides real-time insights, automated reporting, and customizable
              dashboards tailored to your specific business needs.
            </p>

            <div class="btn">
              <a routerLilnk="services" class="button-secondary inverse"
                >See all Services >
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 right-col">
        <div class="integration-card integration-card-3 rounded-16">
          <div class="card-title">
            <h2 class="text-40">Comprehensive Reporting and Analytics</h2>
          </div>
          <p class="text-16 tmw">
            Transform your fleet data into actionable business intelligence
          </p>
          <a routerLink="form" class="text-blue-6"
            ><b>Book a Consultation ></b></a
          >
          <div class="card-image position3">
            <img src="assets/barchart.png" class="image-barchart3" alt="" />
            <img src="/img/gif/service/Rectangle 5.png" alt="" srcset="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Rich Experience-->
<!-- Trusted businesses -->
<section class="fleet-management-section">
  <div class="container position4">
    <img src="assets/rich-experience.png" alt="" />
    <h2 class="text-30 text-white text-center mb-30 text-relative1">
      Feature Rich Experiences
    </h2>
    <div class="btn experience-btn">
      <a href="#" class="button-primary mt-30 btn-relative1">
        See all features</a
      >
    </div>
  </div>
</section>

<!-- ------ Expertise section --------- -->

<section class="expertise">
  <div class="container expertise-container">
    <div class="section-title text-center">
      <h2 class="title">Our Expertise at a glance</h2>
    </div>
    <div class="row cards justify-content-between">
      <div class="col-xl-4 card expertise-card">
        <div class="card-image">
          <img src="/img/gif/enterprise/Group 5565.png" alt="" srcset="" />
        </div>
        <div class="card-title">
          <h2 class="title">Fleet Management Solution</h2>
        </div>

        <div class="card-text">
          <p class="text">
            Experience real-time GPS tracking, comprehensive fuel management,
            proactive maintenance scheduling, and robust driver and shipment
            management for operational excellence
          </p>
        </div>
      </div>
      <div class="col-xl-4 card expertise-card">
        <div class="card-image">
          <img src="/img/gif/enterprise/Group 5566.png" alt="" srcset="" />
        </div>
        <div class="card-title">
          <h2 class="title">IoT Solutions</h2>
        </div>

        <div class="card-text">
          <p class="text">
            Transform your logistics and transport operations with smart IoT
            devices designed for optimization, security, and efficiency.
          </p>
        </div>
      </div>
      <div class="col-xl-4 card expertise-card">
        <div class="card-image">
          <img src="/img/gif/enterprise/Pie.png" alt="" srcset="" />
        </div>
        <div class="card-title">
          <h2 class="title">Reporting & Analytics</h2>
        </div>

        <div class="card-text">
          <p class="text">
            Leverage customizable dashboards, automated alerts, and actionable
            insights to drive strategic decision-making.
          </p>
        </div>
      </div>
    </div>
    <div class="btn text-center">
      <a href="#" class="button-primary"> Request a Consultation</a>
    </div>
  </div>
</section>

<!-- innovative fleet management -->
<section class="fleet-management-section">
  <div class="container">
    <div class="section-title text-center">
      <h2 class="text-30 text-white pb-20">
        Innovative Fleet management for various <br />
        type of companies
      </h2>
    </div>
    <div class="section-body management-cards d-flex gx-">
      <div class="card management-card card-1">
        <div class="card-icon">
          <img src="/img/icons/Group.png" alt="" srcset="" />
        </div>
        <div class="card-title">
          <h2 class="text-16 text-white">Logistics & Distribution</h2>
        </div>
        <ul class="card-lists">
          <li>3PL Providers</li>
          <li>Courier Services</li>
          <li>Last-Mile Delivery</li>
          <li>Freight Forwarders</li>
          <li>Warehousing & Distribution</li>
        </ul>
      </div>
      <div class="card management-card card-2">
        <div class="card-icon">
          <img src="/img/icons/Group.png" alt="" srcset="" />
        </div>
        <div class="card-title">
          <h2 class="text-16 text-white">Manufacturing</h2>
        </div>
        <ul class="card-lists">
          <li>FMCG Manufacturers</li>
          <li>Industrial Equipment</li>
          <li>Automotive Parts</li>
          <li>Electronics Producers</li>
          <li>Food & Beverage</li>
          <li>Textile & Apparel</li>
        </ul>
      </div>
      <div class="card management-card card-3">
        <div class="card-icon">
          <img src="/img/icons/Group.png" alt="" srcset="" />
        </div>
        <div class="card-title">
          <h2 class="text-16 text-white">Construction & Heavy Industry</h2>
        </div>
        <ul class="card-lists">
          <li>Construction Firms</li>
          <li>Mining Operations</li>
          <li>Infrastructure Developers</li>
          <li>Equipment Rentals</li>
          <li>Civil Contractors</li>
          <li>Road Builders</li>
        </ul>
      </div>
      <div class="card management-card card-1">
        <div class="card-icon">
          <img src="/img/icons/Group.png" alt="" srcset="" />
        </div>
        <div class="card-title">
          <h2 class="text-16 text-white">Healthcare & Pharmaceuticals</h2>
        </div>
        <ul class="card-lists">
          <li>Pharma Distributors</li>
          <li>Medical Suppliers</li>
          <li>Hospital Networks</li>
          <li>Healthcare Logistics</li>
          <li>Medical Equipment</li>
        </ul>
      </div>
      <div class="card management-card card-1">
        <div class="card-icon">
          <img src="/img/icons/Group.png" alt="" srcset="" />
        </div>
        <div class="card-title">
          <h2 class="text-16 text-white">Retail & E-commerce</h2>
        </div>
        <ul class="card-lists">
          <li>Retail Fleets</li>
          <li>E-commerce Platforms</li>
          <li>Grocery Delivery</li>
          <li>Home Goods Retailers</li>
        </ul>
      </div>

      <div class="card management-card card-1">
        <div class="card-icon">
          <img src="/img/icons/Group.png" alt="" srcset="" />
        </div>
        <div class="card-title">
          <h2 class="text-16 text-white">Agriculture & Food Services</h2>
        </div>
        <ul class="card-lists">
          <li>Agricultural Producers</li>
          <li>Food Processors</li>
          <li>Farm-to-Table Suppliers</li>
          <li>Cold Chain Logistics</li>
        </ul>
      </div>

      <div class="card management-card card-1">
        <div class="card-icon">
          <img src="/img/icons/Group.png" alt="" srcset="" />
        </div>
        <div class="card-title">
          <h2 class="text-16 text-white">Financial & Professional Services</h2>
        </div>
        <ul class="card-lists">
          <li>Cash Transit (Banks)</li>
          <li>Insurance Adjusters</li>
          <li>Field Auditors</li>
          <br />
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- experience -->
<section class="experience text-center pt-3 pb-3 d-flex">
  <div class="shape-container">
    <img
      src="/img/experience-novatrack/Shape-1.png"
      class="shape Shape-1"
      alt=""
    />
  </div>

  <div class="container">
    <div class="section-title">
      <h2 class="text-30">Experience the NovaTrack Difference</h2>
    </div>
    <div class="section-body cards d-flex text-left justify-content-around">
      <div class="card">
        <div class="icon">
          <img src="/img/icons/1.png" alt="" srcset="" />
        </div>
        <h2 class="text-md">Proprietary Technology</h2>
        <p class="text-20 text-night-4">
          Our cutting-edge platform delivers real-time insights, automated
          reporting, and customizable dashboards that keep you ahead of the
          competition.
        </p>
      </div>
      <div class="card">
        <div class="icon">
          <img src="/img/icons/2.png" alt="" srcset="" />
        </div>
        <h2 class="text-md">Industry Expertise</h2>
        <p class="text-20 text-night-4">
          With years of experience in fleet management and IoT solutions, our
          team crafts tailored strategies that address your unique operational
          needs.
        </p>
      </div>
      <div class="card">
        <div class="icon">
          <img src="/img/icons/1.png" alt="" srcset="" />
        </div>
        <h2 class="text-md">Customer-Centric Approach</h2>
        <p class="text-20 text-night-4">
          We prioritize your success by offering dedicated support, innovative
          solutions, and a commitment to exceeding expectations at every
          touchpoint.
        </p>
      </div>
    </div>
    <div class="btn experience-btn d-flex mt-30 mb-30">
      <a href="#" class="button-primary"> Request a Consultation</a>
      <a href="#" class="button-tertiary2"> Schedule Demo</a>
    </div>
    <div class="section-footer"></div>
  </div>

  <div class="shape-container-2">
    <img
      src="/img/experience-novatrack/Shape.png"
      class="shape Shape-1"
      alt=""
    />
  </div>
</section>
