<section class="footer d-flex footer-gradient">
  <div class="col-xl-3 footer-image-container">
    <img src="/assets/truck-left.png" alt="" srcset="" />
  </div>
  <div class="col-xl-6 footer-text-container text-center">
    <h1 class="text-lg">Ready to Transform Your Fleet Operations?</h1>

    <p class="text-bdy">
      Discover how NovaTrack can deliver similar results for your business. Our
      team of experts will work with you to develop a customized solution that
      addresses your specific challenges and objectives.
    </p>

    <div class="btn">
      <a href="#" class="button-primary"> Request a Consultation</a>
    </div>
  </div>
  <div class="col-xl-3 footer-image-container-right">
    <img src="/assets/truck-right.png" alt="" srcset="" />
  </div>
</section>