// hero
.hero {
  background-image: url(/assets/hero-bg/Rectangle\ 245.png);
  padding: 254px;
  color: white;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  top: 30;
}

.hero-text-container {
  width: 577px;
}

// featured projects

.feature {
  padding: 2rem 0;
}

.feature .section-content {
  padding: 2rem 0;
}

.feature .section-content .project-title {
  padding: 2rem 0;
  width: 491px;
  color: var(--nova-cloudy-06);
}

.feature .section-content .project-title .project-description {
  line-height: 131.8% !important;
}

.result-item {
  gap: 1rem;
}

.invitation {
  justify-content: center !important;
}

.invitation.section-title {
  width: 812px;
}

.discover {
  width: 555px;
  justify-content: center !important;
}

.purplebg {
  background-image: url(/assets/company/background/prurplebg.png);
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 5rem 0;
}

.btn {
  justify-content: center;
  gap: 1rem;
}

.truck-left-image{
  margin: 4rem 0;
}

// case study starts

.case-study-container{
  padding: 1rem 0 10rem ;

}

.case-study {
  background-color: #fafafae7;
}
.challenges-section {
  padding: 3rem 0;
}

.case-study-content {
  padding-top: 4rem;
}

.case2 {
  padding-bottom: 15 rem !important ;
}

.header-content {
  padding: 1rem 0;
}
.case-study-header .header-content {
  gap: 2rem;
  justify-content: space-between;
}

.header-content .title {
  width: 543px;
}
.challenge-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2rem;
}

.challenge-card {
  background-color: var(--nova-teal-06);
  color: white;
  width: 216px;
  padding: 12px;
  border-radius: 12px;
  line-height: 141.8%;
}

.challenge-text{
  font-size: 18px;
}

.solution-description {
  width: 405px;
}

.solution-features {
  // display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  justify-content: space-between;
}

.feature-card {
  background-color: #dddada;
  padding: 12px;
  border-radius: 12px;
  // width: 288px;
}

.feature-title {
  margin: 0.5rem 0;
}

.feature-list {
  margin-top: 0.5rem;
  font-size: 12px;
}
.feature-list-item {
  color: var(--Night-05, #4F5154);
  display: flex;
  font-size: 14px;
  margin: 10px 0;
  gap: .5rem;
  
  line-height: 131.8%;
}

.feature-list-item img {
  height: 16px;
}

.feature-list-item p {
  margin: 0;
}

// results


.results-section .section-title{
  padding: .5rem 0;

}
.results-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 29px;
  margin-top: px;
  justify-content: space-between;
}

.result-card {
  background-color: var(--nova-lemon-02);
  width: 380px;
  padding: 12px;
  gap: 0.5rem;
  border-radius: 12px;
  border: 1px solid var(--Nova-lemon-02, #deecc0);
  background: #f5f9eb;
  line-height: 141.8%;
}

.icon {
  padding: 2px;
  width: 20px;
  height: 20px;
  margin-right: 2px;
}

// footer
.footer-gradient {
  background: linear-gradient(to top, #daedf6, #f5f5f5);
}

.footer-image-container {
  position: absolute;
  // top: 492%;
  width: 80rem;
  right: 30%;
}

.footer-image-container-right {
  position: absolute;
  width: 80rem;
  // top: 492%;
  text-align: end;
  left: 30%;
}

.footer-text-container {
  margin: 0 auto;
      z-index: 5;
}

.footer {
  padding: 149px 0;
  position: relative;
}

.footer .text-bdy {
  margin: 1.5rem auto;
  width: 555px;
}

.footer .btn {
  margin: auto;
  width: fit-content;
  justify-content: center;
  gap: 1rem;
  border-color: var(--nova-cloudy-06) !important;
  color: var(--nova-cloudy-06) !important;
}



// phones, tablets and desktop
@media only screen and (min-width: 275px) and (max-width: 1366px) {
  .hero{
    padding: 0%;
  }

  .hero-text-container{
    width: 100%;
    padding: 10rem  1rem 4rem;
  }

  .feature .section-content{
    padding: 0rem 2rem;
  }

  .btn{
    flex-direction: column;
    gap: 2rem;
  }


  .case-study-content{
    padding: 0 1rem;
  }

.solution-description{
  width: 100%;
}
  

  .header-content, .challenge-cards, .solution-features{
    flex-direction: column;
  }

  .header-content .title{
    width: 100% !important;
  }

  .feature .project-title{
    width: 100% !important;
  }

      // sub footer

  .footer .btn{
    flex-direction: column;
  }
  .footer-text-container, .text-bdy{
    width: 100% !important; 
    padding: 0 1rem;
  }





}