// only footer modifications

.footer{
    background: linear-gradient(to top, #82ACCE, #FBFDFE, #FBFDFE, #FBFDFE,  );
    height: 581px;
    padding: 142px 0;
    
}

// footer nav

.title{
    font-weight: 700;
}

.content-list{
    padding: .5rem 0;
    
}

.list-item{
    padding: .5rem 0;
}

// socials
.media-list{
    gap: 20px;
}


@media (max-width: 767px) {
    .footer{
        height: fit-content;
    }
    
}
@media (min-width: 768px )  and ( max-width: 1024px){
    .footer{
        height: fit-content;
    }
    
}