// only footer modifications

.footer{
    background: linear-gradient(to top, #82ACCE, #FBFDFE, #FBFDFE, #FBFDFE,  );
    height: 581px;
    padding: 142px 0;
    
}

// footer nav

.title{
    font-weight: 700;
}

.content-list{
    padding: .5rem 0;
    
}

.list-item{
    padding: .5rem 0;
}

// socials
.media-list{
    gap: 20px;
}
