<div class="container-fluid footer">
  <div class="container footer-wrapper">
    <!-- footer nav -->
  <div class="row footer-list">
    <!-- col-1 -->
    <div class="col-xl-3 col-sm-auto ">
      <div class="col-content">
        <div class="content-title"><h6 class="title">Products</h6></div>
        <div class="footer-content-body">
          <ul class="content-list">
            <li class="list-item">
              <a href="">Fleet Managemenet Solutions</a>
            </li>
            <li class="list-item mb-8"><a href="">IoT Solutions</a></li>
            <li class="list-item mb-8"><a href="">Reporting & Analytics</a></li>
            <li class="list-item mb-8"><a href="">Fleet Hailing <span> <img src="assets/coming soon.png" alt="" srcset=""> </span> </a></li>
            <li class="list-item mb-8"><a href="">AI Tracking <span> <img src="assets/coming soon.png" alt="" srcset=""> </span></a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- col-2 -->
    <div class="col-xl-3 col-sm-auto ">
      <div class="col-content">
        <div class="content-title"><h6 class="title">Company</h6></div>
        <div class="footer-content-body">
          <ul class="content-list">
            <li class="list-item">
              <a href="">About NovaTrack</a>
            </li>
            <li class="list-item"><a href="">Terms of service</a></li>
            <li class="list-item"><a href="">Privacy policy</a></li>
            <li class="list-item"><a href="">NovaTrack team</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- col-3 -->
    <div class="col-xl-3 col-sm-auto ">
      <div class="col-content">
        <div class="content-title"><h6 class="title">Developers</h6></div>
        <div class="footer-content-body">
          <ul class="content-list">
            <li class="list-item">
              <a href="">Get API Acces</a>
            </li>
            <li class="list-item"><a href="">Read Docs</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- col-4 -->
    <div class="col-xl-3 col-sm-auto ">
      <div class="col-content">
        <div class="content-title"><h6 class="title">Contact Us</h6></div>
        <div class="footer-content-body">
          <ul class="content-list">
            <li class="list-item">
              <a href="">11-12 Ibiyinka Olorunbe Close off Amodu Ojikutu ST, Lagos, Lagos,NG</a>
            </li>
            <li class="list-item"><a href="">e-mail</a></li>
            <li class="list-item"><a href="">+2347034446666</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- socials -->
  <div class="row footer-socials">
    <div class="social-media">
        <hr class="footer-hr">
        <ul class="media-list d-flex justify-center">
            <li class="list-item"><a href="">FaceBook</a></li>
            <li class="list-item"><a href="">Twitter</a></li>
            <li class="list-item"><a href="">Instagram</a></li>
        </ul>
    </div>
  </div>
</div>

</div>