.header{
  position: fixed;
  width: 100%;
  padding: 20px;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.logo{
    margin: .5rem 0;
    padding: 0;
}

.header-nav{
    position: fixed;
    width: 100%;
}

.buttons{
    padding: 0;
}

.button{
    align-content: center;
    // margin: auto 0;
    // justify-content: space-between;
}

.button:hover{
    color: var(--nova-cloudy-06)  !important;
}

.button-primary{
    color: #fff;
}
.button-primary:hover{
    background-color: #fff !important;
    color: var(--nova-cloudy-06) !important;
}

.header-menu{
    margin: 1rem 0;
}
.menu-list{
    gap: 32px;
}

.btns{
    justify-content: end;
    margin: 1rem 0;
}

.button-secondary{
    border: none;
    background: none;
    color: black;
}


.scrolled {
  background-color: #fff !important;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
//   padding: 2rem;
}

// mobile
.mobile-menu{
    padding: .5rem;
    background-color: #fff!important;
    border-style: none !important;
}

.fa-bars{
    color: var(--nova-cloudy-06);
}

