<div class="modal-overlay"></div>

<div class="container form-container">
  <div class="form-header">
    <button class="close-button text-50" type="button" aria-label="Close form" routerLink="/tickets">
      ×
    </button>
    <div class="step-indicator"><span class="text-24 text-blue-1">2</span>/3</div>
    <h1 class="form-title">Book a Free Consultation</h1>
    <p class="form-subtitle">
      Tell us a bit about your needs — we'll connect you with a specialist to
      help.
    </p>
  </div>
    <form [formGroup]="formDate">

  <div class="booking-section">

  <app-calendar formControlName="date"></app-calendar>

    <div class="time-slots">
    <app-time-selector formControlName="time"></app-time-selector>


</div>

  </div>
    <button class="next-button"  type="submit" (click)="onSubmit()">Submit</button>

  </form>


</div>
